@keyframes headerchange {
    0% {
        background-image: url(https://images.unsplash.com/photo-1461532257246-777de18cd58b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80);
    }
    20% {
        background-image: url(https://images.unsplash.com/photo-1556484687-30636164638b);
    }
    40% {
        background-image: url(https://images.unsplash.com/photo-1474552226712-ac0f0961a954);
    }
    60% {
        background-image: url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    }
    80% {
        background-image: url(https://images.unsplash.com/photo-1526958097901-5e6d742d3371);
    }
}