/**{
margin: 0;
padding: 0;
}*/
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
body {
	font-family: 'Oxygen', sans-serif;
	background-color: #FCFCFC;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo {
	flex: 1;
}
nav{
	position: fixed;
	top: 0;
	width: 100%;
	background: #83B692;
	color: white;
	text-transform: uppercase;
}
nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;


}
nav li {
	list-style: none;
	margin-right:50px;
}

.about-list {
	line-height: 200%;
}

.resource-list {
	width: 400px;
	box-sizing: border-box;
}

/* These blockers are based on the heght of the nav bar
and footer respectively. If those change, remember to update these!
*/
.top-blocker {
	height: 52px;
}

.bottom-blocker {
	height: 89px;
}
