/**{
margin: 0;
padding: 0;
}*/
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
body {
	font-family: 'Oxygen', sans-serif;
}
#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FCFCFC;

}
.logo {
	flex: 1;
}
nav{
	width: 100%;
	background: #83B692;
	color: white;
	text-transform: uppercase;
}
nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;


}
nav li {
	list-style: none;
	margin-right:50px;
}

.about-list {
	line-height: 200%;
}
li {
	display: flex;
	justify-content: center;
#para {
	display: flex;
	justify-content: space-around;
}