<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div id="container">
    <nav>
      <ul>
        <li class="logo">Birmingham Open Code</li>
        <li><a href="about.html">About</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="codeofconduct.html">Code of Conduct</a></li>
        <li><a href="resources.html">Resources</a></li>		
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav>
    {{ content }}
  </div>

  <footer>
       <p>© Birmingham Open Code 2019</p> 
       <p>Contribute to our Github repo at <a href="https://github.com/OpenCodeClub">Open Code github</a> </p>
  </footer>

</body>
</html>
